*,*::before,*::after {
    box-sizing: border-box;
    font-family: monospace, sans-serif;
    font-weight: normal;
}
body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, aquamarine, chartreuse);
}
.calc-grid-container {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
.calc-grid-container > button {
    cursor: pointer;
    font-size: 2rem;
    background-color: rgb(255, 255, 255, .75);
    border: 1px solid rgb(255, 255, 255);
}
.calc-grid-container > button:hover {
    background-color: rgb(255, 255, 255, .9);
}
.span-two {
    grid-column: span 2;
}
.output {
    grid-column: 1/-1;
    background-color: rgb(0, 0, 0, .75);
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}
.output .prev-operand {
    color: rgb(255, 255, 255, .75);
    font-size: 1.5rem;
}
.output .curr-operand {
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
}